syslog=yes
daemon=300
pid=/var/run/ddclient.pid
use=if
if={{ ddns.interface }}

protocol=cloudflare
ssl=yes
server=www.cloudflare.com
login={{ cloudflare.email }}
zone={{ cloudflare.domain }}
password='{{ cloudflare.api_key }}'
{{ ddns.domains | join(',') }}
